
@model List<Event>

@{
    ViewData["Title"] = "Reservations";
}


<main>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
        <div class="col-md-6 p-lg-5 mx-auto my-5">
            <h1 class="display-3 fw-bold">Our reservations</h1>
            <h3 class="fw-normal text-muted mb-3">The reservation system features a user-friendly interface for easy booking. You can securely log in, check real-time seat availability through interactive seating charts. The booking process is streamlined, with secure online payment options and the ability to apply promotions or discounts.</h3>
        </div>
    </div>


    <h1>Available rooms</h1>
    @foreach (var Event in Model)
    {
        <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
            <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 py-3">
                    <h2 class="display-5">@Event.Name</h2>
                    <p class="lead">@Event.Description</p>
                    <p class="lead">@Event.Date</p>


                    <a class="button">Reserve</a>
                </div>
            </div>
        </div>
    }
</main>