body {
    background-color: #12122b; /*kolor tła */
}

/*kolor dla przycisku btn-primary */
.btn-primary {
    background-color: #5e5e5e; /* kolor tła */
    border-color: #5e5e5e; /* kolor obramowania */
    color: #ffffff; /* kolor tekstu */
}

/*kolor dla przycisku btn-secondary */
.btn-secondary {
    background-color: #848478; /* kolor tła */
    border-color: #848478; /* kolor obramowania */
    color: #ffffff; /* kolor tekstu */
}
