@{
    ViewData["Title"] = "Home Page";
}


<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TheatreBookingSystem_MVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />
</head>

<body>
<!--Welcoming text-->
<section class="intro-panel">
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div id="index_1" class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light intro">Welcome to Our Theathre World</h1>
                    <p class="lead text-body-secondary intro2">I'm glad you're here! Our platform is not just a place where you can book tickets to high-quality theater performances; it's a space that opens the doors to the magical world of art.</p>
                    <p>
                        <a href="Event" class="btn btn-primary my-2 custom-button">Show all Events</a>
                        <a href="Reservations" class="btn btn-secondary my-2 custom-button2">Show your reservations</a>
                    </p>
                </div>
            </div>
        </section>
</section>


<!--About us-->
<section class="container mt-4">
    <div class="row">
        <article class="col-md-6">
            <h2>What do you dream of?</h2>
            <p>Whether it's a show that sends shivers down your spine, a comedy that makes you laugh until you cry, or a drama that touches your heart – we have something exceptional for you. Our website is not just a booking system; it's a virtual gateway to a world where emotions, history, and acting talent merge into unforgettable spectacles.</p>
        </article>
        <figure class="col-md-6">
                <img src="https://res.cloudinary.com/dm7llcc1b/image/upload/v1705859837/cld-sample-2.jpg" class="img-fluid" alt="Image">
        </figure>
    </div>
    <div class="row">
        <figure class="col-md-6">
            <img src="Images\daz.jpg" class="img-fluid" alt="Image">
        </figure>
        <article class="col-md-6">
            <h2>Your Seat, Your Experience</h2>
            <p>Your interests are our priority. That's why we've created an interactive platform that not only enables convenient ticket reservations but also suggests performances tailored to your preferences. Our team ensures that each of your theater experiences is unique.</p>
        </article>
    </div>
    <div class="row">
        <article class="col-md-6">
            <h2>Join the Theater Community</h2>
            <p>It's more than just watching performances; it's being part of a community of art enthusiasts. That's why we invite you to our world, where you can share your impressions, discuss art, and nurture your passion alongside other theater lovers.</p>
        </article>
        <figure class="col-md-6">
            <img src="Images\daz.jpg" class="img-fluid" alt="Image">
        </figure>
    </div>
    <div class="row">
        <figure class="col-md-6">
            <img src="Images\daz.jpg" class="img-fluid" alt="Image">
        </figure>
        <article class="col-md-6">
            <h2>Open the Doors to Emotions!</h2>
            <p>We're here to let you experience top-notch theater. Book your ticket today and open the doors to unforgettable emotions!</p>
        </article>
    </div>
</section>

<!--Shortcut to few events-->
<div class="album py-5 bg-body-tertiary">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c" />
                        <image href="\Images\zdjecie.jpg" width="100%" height="100%" alt="Event"/>
                    </svg>
                    <div class="card-body">
                        <p class="card-text">Short event description</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            </div>
                            <small class="text-body-secondary">xxx</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c" />
                        <image href="\Images\zdjecie.jpg" width="100%" height="100%" alt="Event" />
                    </svg>
                    <div class="card-body">
                        <p class="card-text">Short event description</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            </div>
                            <small class="text-body-secondary">xxx</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c" />
                        <image href="\Images\zdjecie.jpg" width="100%" height="100%" alt="Event" />
                    </svg>
                    <div class="card-body">
                        <p class="card-text">Short event description</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            </div>
                            <small class="text-body-secondary">xxx</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
