@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">Our Privacy Policy</h2>

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
        <div class="col d-flex flex-column align-items-start gap-2">
            <h2 class="fw-bold text-body-emphasis">Introduction</h2>
            <p class="text-body-secondary">Welcome in ours Privacy Policy. This document outlines the types of personal information we collect, how it is used, and the steps we take to safeguard your information.</p>
            
        </div>

        <div class="col">
            <div class="row row-cols-1 row-cols-sm-2 g-4">
                <div class="col d-flex flex-column gap-2">
                    <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                        <svg class="bi" width="1em" height="1em">
                            <use xlink:href="#collection" />
                        </svg>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Information Collected</h4>
                    <p class="text-body-secondary">We may collect various types of personal information, including but not limited to: name, email adress, IP adress, broser information and Other information provided by users voluntarily through forms on our website.</p>
                </div>

                <div class="col d-flex flex-column gap-2">
                    <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                        <svg class="bi" width="1em" height="1em">
                            <use xlink:href="#gear-fill" />
                        </svg>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Purpose of Data Collection</h4>
                    <p class="text-body-secondary">We collect this information for the following purposes: to process reservations and ticket bookings, to provide information about upcoming performances and to improve and personalize the user experience on our website.</p>
                </div>

                <div class="col d-flex flex-column gap-2">
                    <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                        <svg class="bi" width="1em" height="1em">
                            <use xlink:href="#speedometer" />
                        </svg>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Cookies and Tracking Technologies</h4>
                    <p class="text-body-secondary">Our website uses cookies and similar tracking technologies to enhance user experience and for analytical purposes. By using our website, you consent to the use of cookies in accordance with our Cookie Policy.</p>
                </div>

                <div class="col d-flex flex-column gap-2">
    
                    <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                        <svg class="bi" width="1em" height="1em">
                            <use xlink:href="#table" />
                        </svg>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Data Security</h4>
                    <p class="text-body-secondary">We implement appropriate security measures to protect your personal information from unauthorized access, disclosure, alteration, and destruction.</p>
                </div>
            </div>
        </div>
    </div>
</div>