@using TheatreBookingSystem_MVC.Data.Enum;
@model Event
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post" asp-action="Create">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" placeholder="Enter Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" class="form-control" placeholder="Enter Description">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Src">Photo</label>
        <input asp-for="Src" class="form-control" placeholder="Enter Photo">
        <span asp-validation-for="Src" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EventType">Event Type</label>
        <select asp-for="EventType" asp-items="@Html.GetEnumSelectList<EventType>()" class="form-control">
			<option>--Select Event Type--</option>
        </select>
        <span asp-validation-for="EventType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Date">Date</label>
        <input asp-for="Date" class="form-control" placeholder="Enter Date">
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Duration">Duration</label>
        <input asp-for="Duration" class="form-control" placeholder="Enter Duration">
        <span asp-validation-for="Duration" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RoomId">Room Id</label>
        <input asp-for="RoomId" class="form-control" placeholder="Enter Room Id">
        <span asp-validation-for="RoomId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>